/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
}

/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 20px 0;
    backdrop-filter: blur(20px);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



.logo{
    margin-left: 20px;
    width: 210px;
    height: auto;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 30px;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

/*boton ingles/español*/
.idioma{
    font-weight:500;
    cursor: pointer;
    padding: 6px;
    background: #058450;
}

.idioma:active{
    background-color: #05a261;
}


.titulo-seccion {
    text-align: center;
    font-size: 2.3rem;
    color: #ffffff;
    margin-bottom: 50px;
    position: relative;
    letter-spacing: 1px;
}

.titulo-seccion::after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    margin: 14px auto 0;
    border-radius: 10px;
    background: linear-gradient(90deg, #3498DB, #058450);
}



/* Contacto */
.contacto {
    padding: 80px 0;
    text-align: center;
    background-color: #1c1c1c;
}

.contacto p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.contacto .btn {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

.contacto .btn:hover {
    background-color: #2980b9;
}

/* Sobre mí */
.sobre-mi {
    padding: 100px 0;
    background-color: #1c1c1c;
    display: flex; /* Usamos flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
}

/* Contenedor de la imagen y el texto */
.sobre-mi .contenedor-sobremi {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.sobre-mi .imagenes-sobremi {
    margin-left: 200px; /* Mueve la imagen hacia la derecha */
}

.sobre-mi .imagenes-sobremi .imagen-atras img {
    width: 350px; /* Limitar el tamaño de la imagen */
    height: auto; /* Mantener la relación de aspecto */
    max-width: 100%; /* Asegura que no se desborde */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    display: block; /* Elimina el espacio en blanco debajo de la imagen */
    margin-right: 0; /* Centra la imagen */
}

/* Ajustes en el texto */
.sobre-mi .descripcion {
    font-size: 1.1rem;
    color: #b0b0b0;
    max-width: 700px;
    margin: 0 auto;
}
